{include file="index@Index/header"}

<body>
{include file="index@Index/header2"}

    <!-- 菜单栏 -->
    <ul class="menu">
        <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-zhifu" style="font-size: 2.6rem;"></span>支付</a></li>
        <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-dache" style="font-size: 2.4rem;"></span>打车</a></li>
        <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-diancan" style="font-size: 2.2rem;"></span>点餐</a></li>
        <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-shequn1" style="font-size: 2.7rem;"></span>社群</a></li>
    </ul>
</div>
{include file="index@index/floor"}


</html>