{include file="index@Index/header"}
<body>
{include file="index@Index/header2"}

<!-- 菜单栏 -->
<ul class="menu">
    <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');">技能</a></li>
    <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');">资源</a></li>
    <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');">人脉</a></li>
    <li><a class="menu-text" href="javascript: $.toast('正在开发中', 'text');">互助</a></li>
</ul>
</div>
{include file="index@Index/floor"}
</html>