{include file="index@Index/header"}
<body>
{include file="index@Index/header2"}
    <!-- 菜单栏 -->
    <ul class="menu">
        <!--<li class="menu-item"><a href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-anzhuo" style="font-size: 2.9rem;"></span>安卓APP</a></li>-->
        <!--<li class="menu-item"><a href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-pingguo" style="font-size: 2.6rem;"></span>苹果APP</a></li>-->
        <!--<li class="menu-item"><a href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-diannao" style="font-size: 2.4rem;"></span>电脑修谱</a></li>-->
        <li class="menu-item"><a href="http://family.ythx123.com/android/"><span class="iconfont icon-anzhuo" style="font-size: 2.9rem;"></span>安卓APP</a></li>
        <li class="menu-item"><a href="https://itunes.apple.com/cn/app/%E5%8D%8E%E5%A4%8F%E5%AE%97%E4%BA%B2/id1435139687?mt=8"><span class="iconfont icon-pingguo" style="font-size: 2.6rem;"></span>苹果APP</a></li>
        <li class="menu-item"><a href="javascript: $.toast('请用电脑打开网址：http://pc.ythx123.com', 'text');"><span class="iconfont icon-diannao" style="font-size: 2.4rem;"></span>电脑修谱</a></li>
    </ul>
</div>
{include file="index@Index/floor"}
</html>