{include file="index@Index/header"}

<body style="background: #f4f4f4;">
<!-- 顶部 -->
<div id="header">
    <div class="header-left">
        <span class="iconfont icon-fanhui"></span>
    </div>
    <div class="header-content">确认报单</div>
    <div class="header-right">
    </div>
</div>

<!-- 内容 -->
<div class="content">

    <div class="swiper-container" style="width: 100%;">
        <div class="swiper-wrapper">
            {foreach $images as $v}
            <div class="swiper-slide" data-swiper-autoplay="2000"><img src="{$v['location']}">
            </div>
            {/foreach}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">付款金额</label>
            <em class="weui-form-preview__value">¥{$self['amount']}</em>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">{$self['name']}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">描述</label>
                <span class="weui-form-preview__value">{$self['describe']}</span>
            </div>
            <!--<div class="weui-form-preview__item">
                <label class="weui-form-preview__label">详情</label>
                <span class="weui-form-preview__value">{php}echo $content;{/php}</span>
            </div>-->

        </div>
        <div class="fwb-content">
            {php}echo $content;{/php}
        </div>
        <!--<div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">辅助操作</a>
            <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">确认支付</button>
        </div>-->
    </div>
    <form id="forms" action="/index/exchange" method="post">
        <input type="hidden" name="radio" value="{$self['code']}|{$self['amount']}">
        <div class="weui-cells weui-cells_form">


            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">收货人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="man" id='man' value="" placeholder="请输入收货人">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="phone" id='phone' value="" placeholder="请输入收货联系电话">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">收货地址</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="address" id='address' value="" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">支付密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="pay_pass" id='payPass' value=""
                           placeholder="请输入支付密码">
                </div>
            </div>


        </div>

        <div class="weui-cells__title">支付方式</div>
        <div class="weui-cells weui-cells_radio">
            <label class="weui-cell weui-check__label" for="x11">
                <div class="weui-cell__bd">
                    <p>余额</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="pay" id="x11" value="0">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x12">

                <div class="weui-cell__bd">
                    <p>支付宝</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="pay" id="x12" checked="checked" value="1">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x13">
                <div class="weui-cell__bd">
                    <p>微信</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="pay" id="x13" value="2">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>

        <div class="form-btn">
            <button class="weui-btn weui-btn_primary" id="orderSubmit" type="submit">确认下单</button>
        </div>
    </form>
</div>
{include file="index@Index/floor"}
<script src="{$src}js/ajax.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
<script>

    var mySwiper = new Swiper('.swiper-container', {
        speed: 500,//播放速度
        autoplayDisableOnInteraction: false,
        autoplay: 2000,
        autoHeight: true,
        loop: true,//是否循环播放
        //setWrapperSize: true,
        pagination: '.swiper-pagination',//分页
        effect: 'slide',//动画效果
        centeredSlides: true,
    });

    $('.icon-fanhui').on('click', function () {
        location.href = '/';
    });

    $('#forms').off('submit').on('submit', function () {
        var payPass = $("#payPass").val();
        var man = $("#man").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        if (!address) {
            $.alert('请输入收货地址');
            return false;
        }
        if (!phone) {
            $.alert('请输入联系电话');
            return false;
        }
        if (!man) {
            $.alert('请输入收货人姓名');
            return false;
        }
        if (!payPass) {
            $.alert('请输入支付密码');
            return false;
        }
        $.confirm("确定要执行此操作吗？", function () {
            // 0 余额 1 支付宝 2微信
            var payType = $("input[name=pay]:checked").val();
            var callback = null;
            // 判断支付方式
            switch (payType) {
                case "0":
                    console.log('dd');
                    $('#forms').attr('action', '/index/exchange');
                    break;
                case "1":
                    $('#forms').attr('action', '/index/test_pay');
                    callback = function (res) {
                        console.log(res);
                        if(res.status == 'success'){

                            window.location.href = res.url;
                        }else {

                            $.alert(res.message);
                        }
                    };
                    break;
                case "2":
                    $('#forms').attr('action', '/index/test_wechat');
                    callback = function (res) {
                        console.log(res);
                        if(res.status == 'success'){

                            window.location.href = res.url;
                        }else {

                            $.alert(res.message);
                        }
                    };
                    break;
            }
            //点击确认后的回调函数
            Ajax($('#forms'), callback);
        }, function () {
            //点击取消后的回调函数
        });
        return false;
    });
</script>

</html>