{include file="index@Index/header"}
<body>
{include file="index@Index/header2"}

<!-- 菜单栏 -->
<ul class="menu">
    <li><a href="javascript: $.toast('敬请打开<br/>华夏宗亲APP<br/>完成您的心愿', 'text');"><span class="iconfont icon-jizu"
                                                              style="font-size: 2.4rem;"></span>祭拜</a></li>
    <li><a href="javascript: $.toast('敬请打开<br/>华夏宗亲APP<br/>完成您的心愿', 'text');"><span class="iconfont icon-shaoxiang"
                                                              style="font-size: 2.7rem;"></span>高香</a></li>
    <li><a href="javascript: $.toast('敬请打开<br/>华夏宗亲APP<br/>完成您的心愿', 'text');"><span class="iconfont icon-qingmingjisao"
                                                              style="font-size: 2.4rem;"></span>扫墓</a></li>
    <li><a href="javascript: $.toast('敬请打开<br/>华夏宗亲APP<br/>完成您的心愿', 'text');"><span class="iconfont icon-qian"
                                                              style="font-size: 2.7rem;"></span>纸钱</a></li>
    <li><a href="javascript: $.toast('敬请打开<br/>华夏宗亲APP<br/>完成您的心愿', 'text');"><span class="iconfont icon-xianhua"
                                                              style="font-size: 2.4rem;"></span>鲜花</a></li>
    <li><a href="javascript: $.toast('敬请打开<br/>华夏宗亲APP<br/>完成您的心愿', 'text');"><span class="iconfont icon-icon-test"
                                                              style="font-size: 2.7rem;"></span>素酒</a></li>
</ul>
</div>
{include file="index@Index/floor"}
</html>
