{include file="index@Index/header"}

<body style="background: #f4f4f4;">
<!-- 顶部 -->
<div id="header">
    <div class="header-left">
        <span class="iconfont icon-fanhui"></span>
    </div>
    <div class="header-content">转出</div>
    <div class="header-right">
    </div>
</div>

<!-- 内容 -->
<div class="content">
    <div class="share-qr">
        <div>
            <!-- 二维码 -->
            <img src=""/>
        </div>
    </div>

    <div class="share-qr-bg roll-out-qr-bg"></div>
</div>
{include file="index@Index/floor"}
<script>
    $('.icon-fanhui').on('click', function () {
        location.href = '../index.html';
    });
</script>

</html>