{include file="index@Index/header"}

<body>
{include file="index@Index/header2"}

<!-- 菜单栏 -->
<ul class="menu">
    <li><a href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-xianhua"
                                                              style="font-size: 2.4rem;"></span>鲜花</a></li>
    <li><a href="javascript: $.toast('正在开发中', 'text');"><span class="iconfont icon-icon-test"
                                                              style="font-size: 2.7rem;"></span>素酒</a></li>
</ul>
</div>
{include file="index@index/floor"}

</html>