{include file="index@Index/header"}


<body style="background: #f4f4f4;">
<!-- 顶部 -->
<div id="header">
    <div class="header-left">
        <span class="iconfont icon-fanhui"></span>
    </div>
    <div class="header-content">{$webAliasAsset}激活</div>
    <div class="header-right">
    </div>
</div>

<!-- 内容 -->
<div class="content">
    <form id="forms" action="/index/act" method="post">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">现有{$webAliasAsset}</label></div>
                <div class="weui-cell__bd">
                    <span>{$member['asset']}</span>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">支付比例</label></div>
                <div class="weui-cell__bd">
                    <span>{$payActAllot / 100}%</span>
                    <input type="hidden" name="payActAllot" value="{$payActAllot}">
                    <input type="hidden" id="pay-bl" value="{$payActAllot / 10000}"/>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">激活{$webAliasAsset}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="pay-num" type="number" name="amount" value="" placeholder="请输入激活{$webAliasAsset}">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">支付密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="pay_pass" value="" placeholder="请输入支付密码">
                </div>
            </div>
        </div>

        <div style="font-size: 1.5rem; padding: 1rem 1rem 0 1rem; text-align: center; color: gray;">支付金额：<span id="pay-money" style="font-size: 1.6rem; color: #FD9109;">0.00</span></div>

        <div class="form-btn">
            <button class="weui-btn weui-btn_primary" type="submit">确认</button>
        </div>
    </form>
</div>
{include file="index@Index/floor"}

<script src="{$src}js/ajax.js"></script>
<script>
    $('.icon-fanhui').on('click', function(){
        location.href = '/index/personal';
    });

    $('#pay-num').on('input', function(){
        $('#pay-money').text( (Number($('#pay-num').val()) * Number($('#pay-bl').val())).toFixed(2) );
    });

    $('#forms').off('submit').on('submit', function(){
        var str = '';
        if( $('#pay-num').val() == '' ) str += '请输入激活{$webAliasAsset}数量 ';
        if( str == '' ){
            $.confirm("确定要执行此操作吗？", function() {
                //点击确认后的回调函数
                Ajax($('#forms'), deal);
            }, function() {
                //点击取消后的回调函数
            });
        }else{
            $.alert(str);
        }
        return false;
    });

    function deal( resp ){
        if( resp && resp.status == 'success' ){
            //console.log('提交支付');
            resp.wechat.timeStamp = resp.wechat.timeStamp.toString();
            wechat_data = Object.assign({}, wechat_data, resp.wechat);
            order_id = resp.order.id;
            moneyPay();
        }else{
            if( resp.code == '999' ){
                $.alert('登录失效');
                window.location.href = '/index/login';
            }else{
                $.alert(resp.message);
            }
        }
    }

    var wechat_data = {};
    var order_id = '';
    var getStatus = null;
    //支付判断是否在微信浏览器内
    function moneyPay() {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    }

    //微信支付
    function onBridgeReady() {
        //getBrandWCPayRequest();
        WeixinJSBridge.invoke('getBrandWCPayRequest', /*{
                         "appId": 'appId',                  //公众号名称，由商户传入
                         "timeStamp": 'timeStamp',          //时间戳，自1970年以来的秒数
                         "nonceStr": 'nonceStr',            //随机串
                         "package": 'package',              //订单详情
                         "signType": 'signType',            //微信签名方式:
                         "paySign": 'paySign'               //微信签名
                    }*/wechat_data, function(res) {
                //console.log('res', res);
                if(res.err_msg == "get_brand_wcpay_request:ok"
                )
                {
                    //window.location.replace("user_index.html");
                    getStatus = setInterval(function (){
                            $.showLoading('');

                            $.ajax({
                                type: 'get',
                                url: '/index/act-info/' + order_id,//轮询路由
                                dataType: 'json',
                                success: function (resp) {
                                    //console.log('data', resp);
                                    if (resp && resp.status == 'success') {
                                        $.hideLoading();

                                        clearInterval(getStatus);
                                        $.alert('支付成功！',function () {
                                            window.location.href = '/';
                                        });
                                    }
                                },
                                error: function (data) {
                                    $.toast(data.status, "text");
                                }
                            });
                        },
                        3000
                    )
                    ;
                }
                /*else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                                             alert("取消支付!");
                                        } else {
                                             alert("支付失败!");
                                        }*/
            } /*function(res){
                         if(res.err_msg == "get_brand_wcpay_request:ok"){
                              window.location.replace("user_index.html")
                         }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                              alert("取消支付!");
                         }else{
                              alert("支付失败!");
                         }
                    }*/
        )
        ;
    }
</script>

</html>
