{include file="index@Index/header"}


<body style="background: #f4f4f4;">
<!-- 顶部 -->
<div id="header">
    <div class="header-left">
        <span class="iconfont icon-fanhui"></span>
    </div>
    <div class="header-content">修改支付密码</div>
    <div class="header-right">
    </div>
</div>

<!-- 内容 -->
<div class="content">
    <form id="forms" action="/index/pay-pass" method="post">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">旧密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="old" value="" placeholder="请输入新密码">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="new" value="" placeholder="请输入新密码">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="again" value="" placeholder="请确认新密码">
                </div>
            </div>
<!--
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input phone-code" type="text" maxlength="5" placeholder="手机验证码"/>
                </div>
                <div class="weui-cell__ft">
                    <button type="button" class="weui-vcode-btn code-btn">获取验证码</button>
                </div>
            </div>-->
        </div>

        <div class="form-btn">
            <button class="weui-btn weui-btn_primary" type="submit">提交</button>
        </div>
    </form>
</div>
{include file="index@Index/floor"}

<script src="{$src}js/ajax.js"></script>
<script>
    $('.icon-fanhui').on('click', function(){
        location.href = '/index/personal';
    });

    var timer = null;
    var num = 120;
    var can_get_code = true;

    $('.forms').submit(function(){
        var str = '';
        if( $('.username').text() == '' ) str += '没有获取到手机号码 ';
        if( $('.password').val() == '' ) str += '请输入密码 ';
        if( $('.password-sure').val() != $('.password').val() ) str += '两次输入密码不相同 ';
        if( $('.phone-code').val() == '' ) str += '请输入手机验证码 ';
        if( str != '' ){
            $.alert(str);
        }else{
            Ajax($('.forms'));
        }
        return false;
    });

    $('.code-btn').on('touchend', getCode);

    //获取短信验证码
    function getCode(){
        if( $('.username').text() != '' ){
            if( can_get_code ){
                can_get_code = false;
                $.ajax({
                    type: 'post',
                    url: '',
                    dataType: 'json',
                    data: { phone: $('.username').text() },
                    success: function(resp){
                        console.log('短信验证码', resp);
                        if( resp && resp.data.status == 'success' ){
                            window.localStorage.setItem('code_time1', JSON.stringify(resp.data.test.time + '000'));
                            $('.code-btn').text( '重新获取(' + num + ')' );
                            timer = setInterval(countDown, 1000);
                        }else{
                            if( resp.data.time ){
                                window.localStorage.setItem('code_time1', JSON.stringify(resp.data.test.time + '000'));
                                getTime();
                            }else{
                                can_get_code = true;
                                clearInterval(timer);
                                num = 120;
                                $('.code-btn').text( '获取验证码' );
                            }
                            $.alert(resp.data.message, '提示');
                        }
                    },
                    error: function (data) {
                        //console.log('error', data);
                        $.toast(data.status, "text");
                    }
                });
            }
        }else{
            $.alert('没有获取到手机号');
        }
    }

    //获取验证码的获取间隔时间
    function getTime(){
        var code_time = Number(JSON.parse(window.localStorage.getItem('code_time1')));
        var now_time = Number(Date.parse(new Date()));
        if( code_time && now_time < code_time  ){
            can_get_code = false;
            num = (code_time - now_time) / 1000;
            $('.code-btn').text( '重新获取(' + num + ')' );
            timer = setInterval(countDown, 1000);
        }
    }

    //倒计时
    function countDown(){
        if (num == 0) {
            clearInterval(timer);
            window.localStorage.removeItem('code_time1');
            $('.code-btn').text( '获取验证码' );
            num = 120;
            can_get_code = true;
        } else {
            num--;
            $('.code-btn').text( '重新获取(' + num + ')' );
        }
    }

    getTime();
</script>

</html>